@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
.bg {
  background: radial-gradient(circle, #763cac 100%, #320f85 0%) !important;
  /* box-shadow: 0 4px 20px rgba(118, 60, 172, 0.6), 0 2px 10px rgba(50, 15, 133, 0.6); */
}
body {
  background: #000000 !important;
}
* {
  font-family: "Preahvihear", serif !important;
}
.wrapper {
  position: relative;
  background: url("./assets/sh.png") no-repeat center;
  background-size: cover;
  border-radius: 50%;
}


.foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 150px;
  height: auto;
}

@media (max-width: 810px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .wrapper {
    width: 350px !important;
    height: 350px !important;
  }
}
@media (max-width: 355px) {
  .wrapper {
    width: 300px !important;
    height: 300px !important;
  }
}
@media (max-width: 310px) {
  .wrapper {
    width: 270px !important;
    height: 270px !important;
  }
}

.blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
}

.gradient {
  background: url(./assets/Gradient.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rgbbackground::before {
  --size: 45px;
  --line: color-mix(in hsl, canvasText, transparent 70%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size), linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 50%, white);
  pointer-events: none;
  z-index: 1; /* Keeps it behind content */
}

@media (max-width: 800px) {
  .absolute {
    display: none;
  }
}
.absolute {
  position: absolute;
  z-index: 1;
}
.bg-shape1 {
  width: 600px;
  height: 600px;
  border-radius: 9999px;
  position: relative;
  animation: one 10s infinite;
}

@keyframes one {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -200px;
    top: 100px;
  }
  50% {
    left: 50px;
    top: 170px;
  }
  75% {
    left: 50px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.opacity-50 {
  opacity: 0.5;
}
.bg-blur {
  filter: blur(90px);
}
.bg-teal {
  background: linear-gradient(135deg, #1a0b2e, #3b0963);
}

.br{
  border: 2px solid transparent !important;
  border-radius: 30px !important;
  border-image: linear-gradient(to right, #4C257B, #9B66B6) 1 !important; 
}


.text {
  font-size: 60px; /* Adjust the font size */
  background: linear-gradient(to right, #4C257B, #9B66B6); /* Purple to lighter purple/pink */
  -webkit-background-clip: text; /* For WebKit browsers (Chrome, Safari, etc.) */
  background-clip: text; /* For other browsers */
  color: transparent; /* Make text color transparent to show the gradient */
  line-height: 1; /* Adjust line height for better vertical alignment */
}








.icon {
    transition: .3s all !important;
    display: inline-flex; /* Ensures the icon doesn't affect layout */
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.icon:hover {
    padding: 5px;
    border: 2px solid #4C257B; /* Adjust the border size as needed */
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(76, 37, 123, 0.8);  /* Add box shadow */
    color: #4C257B !important;
}










